@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import 'tailwindcss';

/* Color Theme Swatches in Hex */
.text-white { color: #FDFDFD; }
.text-red { color: #C30F24; }
.text-bergundy { color: #590817; }
.text-black { color: #040102; }
.text-beige { color: #DBCDCF; }

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.aspect-video {
  padding-bottom: 56.25%
}

.bg-image {
  background-image: url('../img/wallfaded.jpg');
}